#############################################################################################################
#############################################################################################################
#                                                                                                           #
#                            DESPLIEGUE KUBERNETE + JENKINS [ TP UNIR ]                                     #
#                                           MALVASI DIEGO                                                   #
#                                                                                                           #
#############################################################################################################


Master ip Azure
=============================================================================================================
'${ master_ip }'


NFS ip Azure
=============================================================================================================
'${ nfs_ip }'


Workers ips Azure
=============================================================================================================
%{ for index, group in workers_ip ~}
${ workers_ip[index] }
%{ endfor ~}